@charset "utf-8";

.Gadget2 {background: url(../images/gadget-smooth-line.jpg )repeat-y; width: 100%; overflow: hidden; vertical-align: top}
.Gadget2SmoothTopLine, .Gadget2SmoothTopLeft, .Gadget2SmoothTopRight, .Gadget2SmoothBottomLine, .Gadget2SmoothBottomLeft, .Gadget2SmoothBottomRight, .Gadget2Content, .Gadget2ContentLeft, .Gadget2ContentRight {width: 100%; float: left}
.Gadget2SmoothTopLeft {background: url(../images/content-smooth-top-left.gif) no-repeat; background-position: left 0; height: 15px}
.Gadget2SmoothTopLine {background: url(../images/content-smooth-top-line.gif) repeat-x; height: 15px}
.Gadget2SmoothTopRight {background: url(../images/content-smooth-top-right.gif)no-repeat right 0; height: 15px}
.Gadget2SmoothTopRight img {display:none}
.Gadget2SmoothBottomRight {background: url(../images/content-smooth-bottom-right.gif) no-repeat right 0; height: 16px}
.Gadget2Content {background-color: white}
.Gadget2ContentLeft {background: url(../images/content-smooth-line-left.gif) repeat-y left 0}
.Gadget2ContentRight {background: url(../images/content-smooth-line-right.gif) repeat-y right 0}
.Gadget2SmoothBottomLeft {background: url(../images/content-smooth-bottom-left.gif) no-repeat left 0; height: 16px}
.Gadget2SmoothBottomLine {background: url(../images/content-smooth-bottom-line.gif) repeat-x; height: 16px}
.Gadget2 .Clear{clear: both; height: 27px}
.TextInside {
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px; 
    padding-right: 5px;
}