@charset "utf-8";

/*global*/
body{
    color: #818181;
    background:#F6F6F6 ; 
    margin:0px;
    padding:0px; 
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    font-variant: normal; 
    display:block;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
    border-left-color: inherit;
}

tr {
	width:50%;
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

a {
    color: #666666;
    outline: none;
}

.wrapper{
    width: 96%;
    max-width: 1420px;
    min-width: 960px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 20px;
}

.locale_bar {
    float: right;
    margin:2px 30px;
    padding: 5px 5px;
}

#content {
    margin-top:1px;
    background-color:transparent;
    min-width: 1210px;
}

.main_table{
    margin:0px;
    width:auto;
    background-color: #F6F6F6;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    vertical-align: top;
    border-spacing:0px;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.left_content{
    padding:0px;
    width:200px;
    vertical-align: top;
}

.right_content{
    width:80%;
    background-color: #F6F6F6;
    background-image:  url(../images/bg_index_video.jpg);
    background-position: right bottom;
    vertical-align: top;
}

.authorized {
    margin:5px 5px;
}

.menu_frame{
    margin:10px 5px;
}

.Gadget  {
    margin-bottom: 7px;
    width: 209px;
    overflow: hidden;
    vertical-align: top;
}
.Gadget .login {
    display:block;
    text-decoration:none;
    margin-bottom:5px;
} 
.Gadget .Input {
    background-repeat: no-repeat;
    padding-right: 15px;
    padding-bottom: 6px;
    height: 29px;
}
.Gadget .Input2 {
    color: #7f7f7f;
    font-size: 11px;
    text-align: center;
    position: relative;
    top: 5px;
    left: 8px;
    width: 140px;
    border: solid 1px white;
    outline:none;
}
.Gadget .GadgetContent {
    padding: 0 4px;
    width: 201px;}

.Table td {
	width:130px;
    font-family: arial, sans-serif;
    text-align: center;
    vertical-align: text-top;
    font-size: 12px;
    border-collapse: collapse;
    border-color: #A3A3A3;
    border-width: thin;
    border-style: dotted;
    border-spacing: 0px;
}


.Index {
    width: 100%;
    padding: 5%;
    margin: 0px 0px;
    
}

.Button{
    width: 130px;
    margin: 1px;
    padding: 3px;
    height: 25px;
    border: 1px;
    font-size: 11px;
    color: #400080;
    background-color: #c0c0c0;
    cursor: pointer;
}