@charset "utf-8";

/*global*/
body{
    color: #818181;
    background:#F6F6F6 ; 
    margin:0px;
    padding:0px; 
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    font-variant: normal; 
    display:block;
}

tbody {
	height:20px;
    display: table-row-group;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
}

tr {
	width:50%;
	height:20px;
}

a {
    color: #666666;
    outline: none;
}

.wrapper{
    width: 96%;
    max-width: 1420px;
    min-width: 960px;
}


.main_table{
    width:auto;
    height:20px;
    background-color: #F6F6F6;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-left-color: #BABABA;
    vertical-align: top;
    border-spacing:0px;
}

.left_content{
    padding:0px;
    width:200px;
    vertical-align: top;
}


.right_content{
    width:80%;
    background-color: #F6F6F6;
    background-position: right bottom;
    vertical-align: top;
}


.menu_frame{
    margin:10px 5px;
}

.Table {
	width:130px;
	height:20px;
    font-family: arial, sans-serif;
    text-align: center;
    vertical-align: text-top;
    font-size: 12px;
    border-collapse: collapse;
    border-color: #A3A3A3;
    border-width: thin;
    border-style: dotted;
    border-spacing: 0px;
}


.Index {
    width: 100%;
    padding: 5%;
    margin: 0px 0px;
    
}

.Button{
    width: 130px;
    margin: 1px;
    padding: 3px;
    height: 25px;
    border: 1px;
    font-size: 11px;
    background-color: #c0c0c0;
    cursor: pointer;
}